@model X.PagedList.StaticPagedList<Moonglade.Model.PostListItem>

@{
    ViewBag.TitlePrefix = null;
    ViewBag.ActionName = "首页";
    ViewBag.ShowBloggerIntroInXS = true;
}

<h3 class="h3-cat-list">
    <a class="float-right d-none d-md-block" asp-controller="Subscription" asp-action="Rss" target="_blank" title="订阅最近20篇帖子">
        <span class="icon-rss"></span>
    </a>
    <span>
        全部博文
    </span>
</h3>
<hr />

@if (null != ViewBag.IsServerError && ViewBag.IsServerError)
{
    <partial name="_ServerErrorMessage" />
}
else
{
    if (Model.Any())
    {
        <partial name="_PostList" />
    }
    else
    {
        <div class="alert alert-info">
            暂无数据.
        </div>
    }
}